body{
    size: 100% ;
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(206,246,245,1) 80%, rgba(70,199,199,1) 100%) no-repeat;
    height: 100%;
}

.cabecalho {
    background-color: rgb(101, 125, 161);
    display: flex;
    align-items: center;
    width: 100%;
    height: 3em;
    justify-content: flex-start;
    border-radius: 27px;
}

 /* .slogan {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    justify-content: space-evenly;
} */

.qualquer {
    margin-left: 20px;
    width: 20%;
}

.logo {
    width: 40px;
}

.texto {
    color: rgb(42, 46, 85);
    font-family: "Impact";
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: center;
}

.texto span {
    font-size: 20px;
    margin: 0;
}

.texto p {
    font-family: cursive;
    margin: -5px;
}

.menu-bar {
    height: auto;
    width: 285px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin: 1% 1%;
    background-color: rgb(101, 125, 161);
    border-radius: 10px;
    align-items: flex-start;
}

.menu-bar button, li {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, Times, serif, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(101, 125, 161);
    border: none;
    margin: 2px 2px;
    border-radius: 10px;
    }

.menu-bar button a, .menu-bar ul li a {
    font-size: medium;
    color: rgb(42, 46, 85);
    text-decoration: none;
}
.menu-bar button:hover > a, .menu-bar li button:hover > a{
    color: rgb(246, 250, 1);
}

#btn1:hover,#btn2:hover, #btn3:hover, #btn4:hover, #btn5:hover, #btn6:hover, #btn7:hover, #btn8:hover, #btn9:hover, #btn10:hover, #btn11:hover, #btn12:hover, #btn13:hover, #btnhome:hover  {
    background-color: rgb(42, 46, 85);
}


ul, li {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;   
}

div.menu-bar ul ul {
    display: none;
  }
  
div.menu-bar li:hover > ul {
    display: block;
  }
    
.convite{
    display: flex;
    justify-content: center;
    align-items: center;
}

.txt-cvt {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #46C7C7;
    color: rgb(42, 46, 85);
    font-size: 20px;
    width: 35%;
    border-radius: 30px;
}
.txt-cvt h1,p {
    margin-left: 5px;
    width: 95%;
    text-align: center;
}

.txt-cvt a {
    color: rgb(246, 250, 1);
    animation: alternate  ;
}

.convite img {
    margin-left: 25px;
    margin-top: 25px;
    max-width: 40%;
}
.informativo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 153%;
}

.informativo h2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 65%;
    background: linear-gradient(#46C7C7     ) #46C7C7;
    border-radius: 21px;
}

.informativo img {
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    width: 300px;
    border-radius: 25px;
}

.informativo span {
    text-align: center;
    color: rgb(246, 250, 1);
}

.apresentacao {
    display: flex;
    justify-content: center;
    width: 97%;
}

.apresentacao p {
    font-family: system-ui;
    font-size: 19px;
    text-align: justify;
    margin-right: 15px;
    margin-left: 15px;
    width: 60%;
}

.apresentacao img {
    border-radius: 50px;
}

.matricula {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.matricula #i1 {
    width: 500px;
    margin-bottom: 15px;
    width: 500px;
    font-family: impact;
    background-color: rgb(101, 125, 161);
    border-bottom: 0px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #2a2e55;
}

#i1::placeholder {
    color: #2a2e55;
    text-align: justify;
}

.btnconcluir {
    display: flex;
    justify-content: center;
}
.btnconcluir button {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    box-shadow: 3px 3px 3px;
    background-color: rgb(101, 125, 161);
    color: rgb(42, 46, 85);
    border: 2px;
    margin-right: 10px;
    border-radius: 20px;
}

.convite2 {
    display: flex;
    justify-content: center;
}

.convite2 h1 {
    background-color: #46C7C7;
    color: rgb(246, 250, 1);
    border-radius: 10px;
    box-shadow: 5px 5px 5px #2a2e55;
}

.cartao {
    display: flex;
    justify-content: center;
    font-family: system-ui;
}

.cartao h1 {
    background-color: #46C7C7;
    color: rgb(246, 250, 1);
    border-radius: 10px;
    box-shadow: 5px 5px 5px #2a2e55;
}

.tour {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 25px;

}

.tour #t1, #t2, #t3, #t4, #t5, #t6, #t7, #t8, #t9, #t10, #t11 {
    margin-left: 14px
}

.oi p {
    font-family: cursive;
    margin-top: 1px;
    text-align: justify;
    width: 77%;
}

.tour img{
    width: 85%;
    border-radius: 15px;
}

.professores {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.professores img {
    width: 170px;
    border-radius: 15px;
}

.oi {
    background-color: #46C7C7;
    color: #2a2e55;
    border-radius: 15px ;
    margin-top: 25px;
    font-family: cursive;
    font-size: 20px;
    display: flex;
    align-items: center;
    width: 95%;
}