@import url(font/PlayfairDisplay-BlackItalic.ttf);

body {
    font-family: "PlayfairDisplay-BlackItalic.ttf";
    text-align: center;
    background-image: url(imagens/black720.jpg);
    background-size: cover ; 
    background-position: top;
    background-repeat: no-repeat;
    color: #ffff;
    text-align: center;
    padding: 20px;}

h1,h2{
    color: rgb(255, 255, 255);
    font-family:"PlayfairDisplay-BlackItalic.ttf";
    font-style: italic;
    text-shadow: 2px 2px rgb(0, 198, 248);
}
.fotos{
    
}
